.dashboard__dropdown {
    position: absolute;
    width: auto;
    top: 209px; 
    left: 75px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(214, 187, 187, 0.1);
    padding: 10px;
    z-index: 1;
    cursor: pointer;
  }
  
  .dashboard__dropdown p {
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
  }

  .dashboard__sidebar {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 80px;
    margin-top: 10px;
  }

  .improve__text {
    margin-top: 50px;
  }

  .dashboard__sidebar img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  hr {
    width: 100%;
    margin-left: -45px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #E4E4E4;
  }