.not-found-list {
    list-style-type: none;
    padding: 0;
  }

  .not-found-container {
    display: flex;
    flex-direction: row;
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    
  }
  