.properties-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.property-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 15px;
    width: 950px;
    position:inherit;
}

.image-container {
    position: relative; 
    width: 50%;
    height: auto;
    overflow: hidden;
    font-weight: 700;
}

.image-container span {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 20;
    background-color: #f0f0f0; 
    border-radius: 50px; 
    padding: 9px 15px 9px 25px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.image-container span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #0BDA51; 
    border-radius: 50%; 
}

.property-details {
    width: 50%;
    padding: 3%;
    text-align: start;
}

.property-details h3 {
    margin-bottom: 10px;
}

.property-details p {
    margin-bottom: 15px;
}

.property-details a {
    text-decoration: none;
    color: blue;
}

.property-details button:hover {
    border: 1px solid black;
    background-color: #F7F7F7;
}

.property-details button {
    margin-right: 10px;
    margin-top: 5px;
    background: white;
    border: 1px solid black;
}

.notification {
    color: black;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    background: white;
    border: 1px solid black;
  }
  
  .notification:hover {
    background: #E00B41;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -20px;
    border-radius: 7px;
    background: #E00B41;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    cursor: default;
  }
