.header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #E4E4E4;
  }
  
  
  .header__logo img {
    height: 32px;
    object-fit: contain;
  }
  
  .header__profile {
    position: relative;
    cursor: pointer;
  }

  .header__user {
    border: 1px solid #E4E4E4;
    border-radius: 100%;
    margin-left: 7px;
  }

  .header__user:hover {
    background-color:#F7F7F7;
    border: 1px solid #E4E4E4;
    border-radius: 100%;
  }

  .header__bell {
    border: 1px solid #E4E4E4;
    border-radius: 100%;
    margin-right: 8px;
  }

  .header__bell:hover {
    background-color:#F7F7F7;
    border: 1px solid #E4E4E4;
    border-radius: 100%;
  }

  .menu__dropdown {
    position: absolute;
    width: 250px;
    top: 75px; 
    right: 315px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .menu__dropdown p {
    cursor: pointer;
    height: 30px;
    display: flex;
    padding-left: 25px;
    padding-right: 15px;
    align-items: center;
    color: black;
  }
  
  .menu__dropdown p:hover {
    background-color: #F7F7F7;
    width: 210px;
    height: 30px;
  }

  .user__dropdown {
    position: absolute;
    width: 240px;
    top: 50px; 
    right: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .user__dropdown p {
    cursor: pointer;
    height: 30px;
    display: flex;
    padding-left: 25px;
    padding-right: 15px;
    align-items: center;
  }
  
  .user__dropdown p:hover {
    background: #F7F7F7;
    width: 200px;
    height: 30px;
  }
  
  .header__text {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .header__text p {
    font-weight: 500;
    color: #727272;
    padding: 10px 20px;
  }

  .header__text p:hover {
    font-weight: 500;
    background: #F7F7F7;
    border-radius: 30px;
    padding: 10px 20px;
    color: #727272;
  }

  .new__button__notification {
    background-color: #E00B41;
    color: white;
    position: fixed;
    font-size: 8px;
    padding: 1px 4px;
    font-weight: 900;
    border-radius: 100%;
    border: 1px solid white;
    top: 30px;
    right: 498px;
  }

  .new__button {
    background-color: #E00B41;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
  }

  .new__button:hover {
    border: 1px solid #E00B41;
    background-color: #E00B41;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
  }

  .one__button {
    background-color: #E00B41;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border-radius: 100%;
  }

  .one__button:hover {
    border: 1px solid #E00B41;
    background-color: #E00B41;
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border-radius: 100%;
  }
  
  hr {
    width: 100%;
    border-style: solid;
    border-color: #E4E4E4;
  }

